/* Zeroing
========================*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}


body {
  width: 100%;
  font-size: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #000000;
  line-height: 1.6;
  font-size: 15px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

p {
  margin: 0 0 10px;
}

/* Container
==================*/


.container {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 50px 15px;
  background: rgba(110, 170, 100, 0.445);

}

.container__bg--img {
  width: 100%;
  height: 100%;
  background: #000 url('../img/ss.jpeg') center center/cover no-repeat;
}

/* Section */
.section {
  display: block;
  margin: 119px auto;
  width: 500px;
  height: 600px;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 0 25px rgb(255, 0, 0);
}

.section__title {
  text-align: center;
  font-size: 30px;
  color: #fff;
  line-height: 1.2;
  margin-bottom: 10px;
}

.audio__player {
  width: 100%;
  height: 100%;
  background: linear-gradient(171deg, #040d2c, #462a8b, #c505d6);
}

.name__artist {
  padding-top: 20px;
}

.btn__start--stop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 200px;
  height: 80px;
}
.btn__right,
.btn__left {
  width: 50px;
  height: 50px;
}
.btn__left {
  background: url('../btnSvg/left.svg') center center/cover no-repeat;
}
.btn__right {
  background: url('../btnSvg/right.svg') center center/cover no-repeat;
}
.btn__play {
  width: 80px;
  height: 80px;
  background: none;

  background:url('../btnSvg/play.svg') center center/cover no-repeat;
}

.btn__play.play {
  background:url('../btnSvg/pause.svg') center center/cover no-repeat;
}
.section__subtitle {
  text-align: center;
  font-size: 20px;
  color: #fff;
  line-height: 1.2;
  margin-bottom: 50px;
}



.audio__img {
  margin: 0 auto ;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  background: #000;
  border:2px solid #000;
  box-shadow: 0 0 20px #000;
  overflow: hidden;
}
