/* Zeroing
========================*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

:root {
  --color-gold: #d1be86;
  --color-black: #000;
  --color-gray: #e0e0e0;
  --color-white: #fff;
  --font1: 20px;
  --font2: 28px;
}

body {
  width: 100%;
  font-size: 100%;
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  color: #050505;
  background: var(--color-black);
  line-height: 1.6;
  font-size: 15px;

  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul ol,
ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  /* width: 30px; */
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

p {
  margin: 0 0 10px;
}

/* ============ */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1050px;
  height: 90px;
  margin: 0 auto;
  background: rgb(101, 102, 175);
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 0 30px;

}
.logo {
  width: 75px;height: 65px;background: url('../img/logo.png') center center/cover no-repeat;
}
.img__galery {
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1050px;
  background: var(--color-black);
  margin: 0px auto;
  border-radius: 15px;
  box-shadow: 0 0 10px#fff;
  border: 2px solid var(--color-gold);
}

.gallery-img {
  display: block;
  width: 330px;
  height: 200px;
  margin-bottom: 10px;
  transition: transform .2s ease;
  cursor: pointer;
  overflow: hidden;
}

.gallery-img:hover {
  border-radius: 15px;
  box-shadow: 0 0 15px 0 var(--color-white);
  transform: scale(1.2);
}

input {
  display: block;
  font-family: inherit;
  font-size: var(--font1);
  width: 300px;
  border-radius: 10px;
  border: 2px solid var(--color-black);
  height: 30px;
  padding: 10px;
}

input:hover {
  box-shadow: 0 0 10px var(--color-gold);

}

::placeholder {
  color: inherit;
  font-size: var(--font1);
  line-height: 2;
  color: #747474;
  /* padding: 2px 0 0 13px; */
}